html, body, .App {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  background-size: cover;
}

.list-item:hover {
  background-color: #EBF4FD;
}

.list-item:focus {
  outline: none;
  background-color: #007CF9;
  color: white;
}

.uppercase-title {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
}

.vertical-align * {
  vertical-align: middle;
}
